@import '@shopify/polaris/build/esm/styles.css';
@import '../styles/vlerafy-theme.css';

/* Basis-Styles */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: var(--p-font-family-sans), system-ui, -apple-system, sans-serif;
}
